$lightblue: #39CDCC;
$darkblue: rgba(6, 28, 118, 0.891);
$lightgray: rgba(180, 208, 213, 0.433);

@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    @include flexCenter();
    width: 100%;
    height: 100vh;   
}
.cont{
    width: 80%;
    margin: auto;
}
.head{
    margin: 50px 0;
    .logo{
        width: 15%;
    }
}

.container{
    display: grid;
    grid-template-columns: 60% 40%;
}
.svg{
    overflow: hidden;
}
.img-svg{
    width: 100%;
}
form{
    margin:0 15px ;
}
form h2{
    color: $darkblue;
    font-weight: 800;
    font-size: 2em;
    font-family: 'Poppins';
    margin-bottom: 10px;
 }
 .sub{
     color: $darkblue;
     margin-bottom: 40px;
 }
 .login-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 90%;
    height: 40px;
    margin: 20px 0;
    border: 2px solid $lightgray;
    border-radius: 5px;
    transition: .2s ease-in-out;
    
        &:hover{
            border-color: lightgray
        }
 }
.email-con{
    width: 100%;
    height: 100%;
    border: none;
    outline: $lightblue;
}
.password-con{
    width: 100%;
    height: 100%;
    border: none;
    outline: $lightblue;
}
#show{
    color: $lightblue;
    font-size: .7em;
    padding: 10px 5px;
    cursor: pointer;

}
.fgt{
    color: $lightblue;
    font-size: .7em;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.button{
    @include flexCenter();
    width: 90%;
    height: 40px;
    color: white;
    background-color: $lightblue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
        
    &:hover{
        background-color: rgba(42, 163, 177, 0.99);
    }
}
